[
    {
        "pseudo": "ExemplePseudoDiscord",
        "name": "ExempleNomInvocateur",
        "tag": "EUW1"
    },
    {
        "pseudo": "AutrePseudo",
        "name": "AutreNom",
        "tag": "EUW1"
    }
]